*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background-image: url("https://t4.ftcdn.net/jpg/11/47/01/09/360_F_1147010942_o34pxsoxoisTejzaMTMexe5xYEGgcm18.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
nav {
    background-color: #03381f;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    box-shadow: #7ee4b4;
    opacity: 1;
    
  }
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 40px;
    padding-right: 60px;
  }
  nav a {
    text-decoration: none;
    color:white;
    font-weight: lighter;
  }

  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
    border-radius: 30px;
    border:0;
    overflow: hidden;
    max-width: 200px;
    background-color: white;
    
    
  }
  #searchBox{
    background-color: white;
    padding: 12px;
    border-radius: 20px;
  }


.btn{
    color: #03381f;
    padding: 12px;
}
  button {
    padding: 7px 15px;
    background-color: #066309;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  #travelBox{
    color:white;
    margin: 70px;
    margin-top: 100px;
  }

  #dreamTravel{
font-size: large;
font-style: italic;
text-decoration:line-through;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    font-weight: 800;
    text-decoration: solid;
    overflow:visible;
    text-shadow:2px 2px gray;
  }
  #infoTravel{
    padding: 20px;
   text-align:justify;
   font-size: small;
   font-weight:normal;
   box-sizing:content-box;
   width: 800px;
  resize: both;
  overflow: auto;
   
  }
